

<ul>
    <!-- <li>
        <a href="/exercises" class="home-button"><button type="button" name="button">Home</button></a>
    </li> -->
    <li>
        <a href="/exercises/new"><button type="button" name="button">New Exercise</button></a>
    </li>
    <% if(currentClient){ %>
        <li id="username">Welcome <%= currentClient.username %></li>
        <li>
            <form action="/sessions?_method=DELETE" method="post">
                <input type="submit" value="Log Out">
            </form>
        </li>
        <% } else { %>
            <li><a href="/clients/new"><button type="button" name="button">Sign Up!</button></a></li>
            <li><a href="/sessions/new"><button type="button" name="button">Log In!</button></a></li>
            <!-- <li><a href="/sessions/new-trainer">Trainer Login</a></li> -->
        <% } %>
</ul>
