*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
body{
    /* background-image: linear-gradient(lightgrey, black); */
    background-color: #474747;
}
h1, h3, p{
    font-family: sans-serif;
}
header{
    width: 85%;
    margin: 10px auto;
    text-align: center;
    padding: 25px;
    background-color: rgba(237, 168, 50, 0.7);
    text-shadow: 2px 2px white;
    border-radius: 15px;
}
#header{
    color: black;
}
#header:hover{
    color: #0b0861;
}
h1{
    background-color: rgba(237, 168, 50, 0.1);
    border-radius: 15px;
}
/* Set Nav styling */
nav{
    padding: 15px;
    width: 60%;
    display: flex;
    height: 20%;
    flex-direction: row;
    margin: auto;
}
nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}
nav button{
    height: 50px;
    width: 125px;
    background-color: rgba(237, 168, 50, 0.8);
    border-radius: 5px;
    font-size: 16px;
}
nav button:hover{

    background-color: #0b0861;
    color: white
}
nav form{
    border: none;
}
nav input{
    height: 50px;
    width: 125px;
    margin: 0;
    padding: 0;
    background-color: rgba(237, 168, 50, 0.8);
    border-radius: 5px;
    font-size: 18px;
}
nav input:hover{
    background-color: #0b0861;
    color: white;
}
nav li{
    text-align: center;
    /* padding: 5%; */
}
#username{
    height: 40px;
    width: 200px;
    margin: 0;
    padding: 5px;
    border: 1px solid #0b0861;
    color: black;
    background-color: rgba(237, 168, 50, 0.8);
    border-radius: 5px;
}
/* end nav styling */

/* begin index styling */
.index-container{

    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.index-container ul li{
    display: flex;
    list-style-type: none;
    padding: 5px;
    text-align:center;
}
/* .exercise-link{
    text-align: center;
} */
.exercisebtn{
    height: 75px;
    width: 200px;
    font-size: 24px;
    background-color: #0b0861;
    color: white;
    border-radius: 10px;
}
.exercisebtn:hover{
    color: rgba(237, 168, 50, 0.8);
}
.editbtn{
    border: none;
}
.editbtn:hover{
    color: white;
}
/* end index styling */

/* begin session form styling */
.login-header{
    width: 75%;
    text-align: center;
    padding: 15px;
    margin: 15px auto;
}
/* form div/label also apply to new exercise pages */
.form-div{
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

}
.form-div form{
    padding: 10px;
    background-color: #707070;
    border-radius: 7px;
    /* background-color: #e8d9b0; */
    border: 1px solid #0b0861;
}
.form-div form label{
    background-color: #474747;
    color: rgba(237, 168, 50, 1);
    padding: 1px;
    margin: 20px auto;
    border: 1px solid rgba(237, 168, 50, 1);
    border-radius: 3px;
}
form input{
    margin:auto;
    background-color: white;
    color: black;
}
.submitbtn{
    margin-left: auto;
    padding: 10px;
    background-color: #0b0861;
    color: white;
    border-radius: 5px;
}
.information-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #e8d9b0;
    border-radius: 12px;
}
h3{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(237, 168, 50, 1);
    border: 1px solid #0b0861;
    border-radius: 6px;
}
section{
    width: 75%;
    padding: 10px 20px;
    margin: 10px auto;
}


/* begin mobile layout */
@media screen and (max-width: 600px){
    body{

    }
}
