<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Obtain Passage into the Proving Grounds...</h1>
        <form class="" action="/clients" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="color">Password:</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
