<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <h1 class="login-header">Obtain Passage into the Proving Grounds...</h1>
        <div class="form-div">
            <form class="" action="/clients" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username">
                <br>
                <label for="color">Password:</label>
                <input type="password" name="password">
                <br>
                <input type="submit" class="submitbtn" value="Submit">
            </form>
        </div>

    </body>
</html>
