<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <a href="/exercises">Home</a>

            <ul>
                <li>
                    <a href="/exercises/new">New Exercise</a>
                </li>
                <% if(currentClient){ %>
                    <li>Welcome <%= currentClient.username %></li>
                    <li>
                        <form action="/sessions?_method==DELETE" method="post">
                            <input type="submit" value="Log Out">
                        </form>
                    </li>
                    <% } else { %>
                        <li><a href="/clients/new">Sign Up</a></li>
                        <li><a href="/sessions/new">Log In</a></li>
                    <% } %>
            </ul>
        </nav>
        <ul>
            <% for (let exercise of exercises) { %>
                <li>
                    <a href="/exercises/<%=exercise._id%>">
                      <%= exercise.name %>
                    </a>
                    <a href="/exercises/<%=exercise._id%>/edit">
                        edit
                    </a>
                  </li>
            <% } %>
        </ul>
        <a href="/exercises/new">New Exercise</a>
    </body>
</html>
