<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/exercises" method="post">
            <label for="name">Exercise name</label>
            <input type="text" name="name" value="">
            <label for="description">Description</label>
            <input type="text" name="description" value="">
            <label for="muscleGroup">Primary Muscle Group(s):</label>
            <input type="text" name="muscleGroup" value="">
            <label for="isHard">Advanced?</label>
            <input type="checkbox" name="isHard" value="">
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>
