<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        Exercise: <%= exercise.name %>
        Description: <%= exercise.description %>
        Primary Muscle Group(s): <%= exercise.muscleGroup %>
        <a href="/exercises">Back to Home</a>
    </body>
</html>
