<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <h1 class="login-header">Enter the Proving Grounds</h1>
        <div class="form-div">
            <form class="" action="/sessions" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" value="">
                <br>
                <label for="color">Password:</label>
                <input type="text" name="password" value=""><br>
                <br>
                <input type="submit" class="submitbtn" value="Submit">
            </form>
        </div>
    </body>
</html>
